

.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item{
    width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
    padding: 10px;
}