

.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item{
    width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f74a4a;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}